@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

}

.calendar {
  margin: 20px;
}
.textfield {
  margin: 20px;
  width: 300px;
}

.green {
  color: #009000;
}

.red {
  color: #cf2f2f;
}